body{
  background-color: #E4E9E8;
  overflow-x: hidden;
  color:black;
}

a{
  text-decoration: none;
}

/*!
 * Registration Form Design
 */

 .custom-card{
  border: 1px solid #B4B5B6;
  border-radius: 10px;
  background-color: #FFF;
 }

.form-title{
  text-align: center;
  font-size: 25px;
}

.custom-form-control:focus{
  box-shadow: none;
  border:1px solid #da924e;
}

.title-section{
  background-color: #EBEBEB;
  color: black;
}

.form-label{
  font-size: 15px;
}

.btn-add{
  padding: 1px 4px;
  background-color: #20B2AA;
  border-color: #20B2AA;
  color: #fff;
  font-size: 10px;
}

.btn-add:hover {
  background-color: #fff;
  border-color: #20B2AA;
  color: #20B2AA;
}

.btn-delete{
  padding: 1px 4px;
  background-color: #FF0000;
  border-color: #FF0000;
  color: #fff;
  font-size: 10px;
}

.btn-delete:hover {
  background-color: #fff;
  border-color: #FF0000;
  color: #FF0000;
}
.error
{
    color:red;
    font-size: 14px;
}
